ul{
  list-style-type: none;
    padding: 0;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

 li{
  border: 1px solid black;
  min-height: 70px;
  width: 48%;
  display: flex;
  margin-bottom: 30px;
  cursor: pointer;
 }